<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.netlabs.straighttalk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <meta-data -->
        <!-- android:name=".PersonalDetails" -->
        <!-- android:label="PERSONAL_DETAILS" /> -->
        <!-- <meta-data -->
        <!-- android:name=".Secondary" -->
        <!-- android:label="SECONDARY_DETAILS" /> -->
        <!-- <meta-data -->
        <!-- android:name=".Institutions" -->
        <!-- android:label="INSTITUTIONS" /> -->
        <activity
            android:name=".List_View"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PERSONAL_DETAILS"
            android:parentActivityName=".List_View" />
        <activity
            android:name=".SECONDARY"
            android:parentActivityName=".List_View" />
        <activity
            android:name=".INSTITUTIONS"
            android:parentActivityName=".List_View" />
        <activity
            android:name=".ViewPersonalDetailsActivity"
            android:label="@string/title_activity_view_personal_details"
            android:parentActivityName=".List_View"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.netlabs.straighttalk.List_View" />
        </activity>
        <activity
            android:name=".ViewSecondaryActivity"
            android:label="ViewSecondaryActivity"
            android:parentActivityName=".List_View"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.netlabs.straighttalk.List_View" />
        </activity>
        <activity
            android:name=".ViewInstitutionActivity"
            android:label="ViewInstitutionActivity"
            android:parentActivityName=".List_View"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.netlabs.straighttalk.List_View" />
        </activity>

        <service
            android:name=".views.syncing.RemoteDBAuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".views.syncing.RemoteDBSyncingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver
            android:name=".views.syncing.WifiStateBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.CHANGE_NETWORK_STATE">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>